<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% block stylesheets %}{% endblock %}

<title>{% block title %}Welcome!{% endblock %}</title>
<script>
    (function () {
        setTimeout(() => {
            $(".alert").alert('close');
        }, 3000);
    }());
</script>
</head>
<body>
    <div class="container fixed-top mt-4">
        {% for errorMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger show fade" role="alert">
                {{ errorMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for successMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success show fade" role="alert">
                {{ successMessage }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    </div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ path('account_management') }}">Hello {{ user.username|capitalize }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link btn btn-secondary" href="{{ path('add_product') }}">+</a>
                </li>
                <li class="nav-item
                    {% if controller_name == "ShopController" %} active {% endif %}">
                <a class="nav-link" href="{{ path('shop') }}">Shop</a>
                </li>
                <li class="nav-item 
                    {% if controller_name == "AccountController" %} active {% endif %}">
                <a class="nav-link" href="{{ path('account_management') }}">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-3">
    {% block body %}{% endblock %}
    </div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>